<div class="container-fluid">
    {{#if message}}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {{/if}}
    {{#if data.messageErr}}
    <div class="alert alert-warning" role="alert">
        {{data.messageErr}}
    </div>
    {{/if}}
    {{#if messDateErr}}
    {{messDateErr}}
    {{/if}}
    {{!-- {{#each extractedErrors}}
    <div class="alert alert-warning" role="alert">
        {{this.email}}
        {{this.password}}
    </div>
    {{/each}}
    --}}

    <div>
        <form action="/contract/update/{{listsContracts.id}}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputEmail1">Tạo Hợp Đồng
                </label><br>
                <label for="exampleInputEmail1">Khách hàng</label> <br>
                <select id="select-state" placeholder="Pick a customer..." name="customer">
                    {{#each listsCustomers}}
                        <option value="{{this.id}}"  {{#xIf this.id ../listsContracts.customerId}} selected {{/xIf}}>{{this.name}}-{{this.phone}}</option>
                    {{/each}}
                </select>
                <label for="exampleInputEmail1">Sales phụ trách</label> <br>
                  <select id="select-state" placeholder="Pick a sales..." name="salesId">
                    {{#each listsSales}}
                        <option value="{{this.id}}"   {{#xIf this.id ../listsContracts.salesId}}selected {{/xIf}}>{{this.firstName}}-{{this.lastName}}</option>
                    {{/each}}
                </select>
                <div class="form-group">
                    <label for="exampleInputEmail1">Mã hợp đồng</label>
                    <input type="text" class="form-control" aria-describedby="email" name="no" value="{{listsContracts.no}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Tên khách hàng đại diện</label>
                    <input type="text" class="form-control" aria-describedby="email" name="name" value="{{listsContracts.customerName}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Tên đại diện VICTORY</label>
                    <input type="text" class="form-control" aria-describedby="email" name="representative" value="{{listsContracts.representative}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Phí dịch vụ</label>
                    <input type="text" class="form-control" aria-describedby="email" name="serviceFee" value="{{listsContracts.serviceFee}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Payment Time Line</label>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="paymentTimeLine">{{listsContracts.paymentTimeLine}}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="card">
                        <div class="field" align="left">
                            <label>Upload your files</label>
                            {{!-- <input id="input-24" name="input24" type="file" multiple> --}}
                            <input id="filesImg" type="file" name="files" multiple />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Link</label>
                    <input type="text" class="form-control" name="link" value="{{listsLinks.linkFiles}}">
                    <div class="container1"></div>
                    {{!-- <button type="button" class="btn btn-primary add_form_field_link"
                        style="margin-top: 10px;">Thêm</button> --}}
                </div>
            </div>
            <div class="form-group">
                <label for="">Ghi chú</label><br>
                <textarea id="my-expressjs-tinymce-app" name="note">{{listsContracts.note}}</textarea>
            </div>
            {{#each listsMedias}}
                <input type="hidden" class="getFiles" name="getFiles" data="{{this.id}}" value="{{this.mediaFiles}}">
            {{/each}}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    $(document).ready(function () {
        $('select').selectize({
            sortField: 'text'
        });
        
       
        let getFilesConfig = []
        let getFiles = []
        $("input[name='getFiles']").each(function() {
            getFiles.push($(this).val());
            getFilesConfig.push({url:"/contract/delete/medias/"+$(this).attr("data"), key:$(this).attr("data")})
        });
        
        $("#filesImg").fileinput({
           initialPreview:getFiles, 
            initialPreviewConfig:getFilesConfig, 
           allowedFileExtensions: "",
           uploadUrl:"/contract/update",
            uploadAsync: true,
            showRemove: false, 
            showUpload: false, // hide upload button
            overwriteInitial: false, // append files to initial preview
            browseOnZoneClick: true,
            initialPreviewAsData: true,
        }).on('fileloaded', function (event, file, previewId, index, reader) {
            console.log(file.name);
        }) .on('fileuploaded', function(event, data, previewId, index) {
             console.log("previewId",previewId)
            });


    })

</script>