<div class="container-fluid">
    <!--modals confirm delete-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có muốn xóa không ?
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-delete" class="btn btn-primary">Xóa</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
    <form name="submit-delete" method="POST">

    </form>
    <!--end modals comfirm delete-->
    {{#if message}}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {{/if}}
    <div class="row" style="margin: auto;">
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" id="btnCreate">
                <a href="/contract/create">Create</a>
            </button>
        </div>
        <div class="col-sm-10">
            <form action="/contract/" method="GET">
                <div class="input-group mb-3" style="padding-top: 10px;">
                    <input type="text" class="form-control" placeholder="Search ......"
                        aria-label="Recipient's username" name="keyWord">
                    <div class="input-group-append">
                        <button type="submit"><span class="input-group-text"><i
                                    class="fa fa-search"></i></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khách hàng</th>
                <th scope="col">Mã chương trình</th>
                <th scope="col">Mã hợp đồng</th>
                <th scope="col">Ngày tạo hợp đồng</th>
                <th scope="col">Sale phụ trách</th>
                <th scope="col">Tình Trạng</th>
                <th scope="col">Action</th>
                {{!-- <th scope="col">action</th> --}}
            </tr>
        </thead>
        <tbody>
            <tr>
                {{#each lists}}
                <th scope="row">{{inc @index}}</th>
                <td>{{this.customer.name}}</td>
                {{#each this.customer.programs}}
                <td>{{this.code}}</td>
                {{/each}}
                <td>{{this.no}}</td>
                <td>{{formatDate this.createdAt "short"}}</td>
                <td>{{this.Admin.lastName}}{{this.Admin.firstName}}</td>
                <td>{{this.email}}</td>

                <td style="display: flex;">
                    <input type="hidden" name="customerId" value="{{this.customerId}}">
                    <a class="icon-edit" href="/contract/edit/{{this.id}}">
                       <i class="bi bi-eye"></i>
                    </a>
                    {{!-- <button type="submit" class="btn-destroy" id="btn-delete" data-toggle="modal"
                        data-target="#deleteModal" data-id="{{this.id}}">
                        <i class="bi bi-trash2" data-id="{{this.id}}"></i>
                    </button> --}}

                </td>
            </tr>
            {{/each}}
            
            </tr>
        </tbody>
    </table>
     <div class="container mt-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {{#if hasPreviousPage}}
                <li class="page-item">
                    <a class="page-link" href="?page=1">1</a>
                </li>
                {{/if}}
                <li class="page-item active">
                    <a class="page-link" href="?page={{currentPage}}">{{currentPage}}</a>
                </li>
                {{#if hasNextPage}}
                <li class="page-item">
                    <a class="page-link"
                        href="?page={{nextPage}}{{#if keyWord}}&keyWord={{keyWord}} {{/if}}">{{nextPage}}</a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </div>
</div>
<script>
    $(document).ready(function () {
        let id = "";
        let submitDelete = document.forms['submit-delete']
        $('#deleteModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget)
            id = button.data('id')
            $("#btn-delete").click(function () {
                console.log(submitDelete);
                submitDelete.action = "/customer/delete/" + id;
                submitDelete.submit()
            })
        })
    });
</script>