<div class="container-fluid">
    {{#if message}}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {{/if}}
    {{#each extractedErrors}}
    <h5 style="color:red">{{this.name}}</h5>
    {{/each}}
    <form action="/group/user-permission/store" method="POST">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Account</th>
                    <th scope="col">Phòng</th>
                    <th scope="col">Quyền</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{listUserPermissions.Admin.email}} 
                        <label > {{ this.id}} </label> <br>
                       
                    </td>
                    <td>
                        {{#each listsDepartments}}
                         <input type="radio" id="id{{this.id}}" name="department" value="{{this.id}}" {{{setChecked this.id listUserPermissions.departmentId}}}>  
                         <label for="id{{this.id}}"> {{this.name}} </label> <br>
                        {{/each}}
                    </td>
                    <td>
                        {{#each listsPermissions}}
                            {{#each listUserPermissions}}
                            <input type="checkbox" class="permission" id="id_permission{{this.id}}" name="permissions[]"
                                value="{{this.id}}"  {{#xIf this.id this.permissionId}} checked {{/xIf}} >
                            <label for="id_permission{{this.id}}"> {{this.name}} </label> <br>
                            {{/each}}
                        {{/each}}
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" class="btn">Submit</button>
    </form>
</div>


<script>
    $(jQuery).ready(function(){
       console.log($('.checked').val())
        
    })
</script>