<div class="container-fluid">
    {{#if data.message}}
    <div class="alert alert-success" role="alert">
        {{data.message}}
    </div>
    {{/if}}
    {{#if data.messageErr}}
    <div class="alert alert-warning" role="alert">
        {{data.messageErr}}
    </div>
    {{/if}}

    {{!-- {{#each extractedErrors}}
    <div class="alert alert-warning" role="alert">
        {{this.email}}
        {{this.password}}
    </div>
    {{/each}}
    --}}

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có muốn xóa không ?
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-delete" class="btn btn-primary">Xóa</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <form method="POST" action="/customer/update/{{data.id}}" class="formUpdate" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputEmail1">Tạo khách hàng</label><br>
                <label for="exampleInputEmail1">Chương trình</label> <br>
                <select class="form-select" name="programs" aria-label="Default select example">
                    {{#each data.programs}}
                    {{#xIf 1 this.status}}
                    <option value="{{this.id}}" {{#each ../data.listsCustomers.programs }}{{#xIf ../this.id
                        this.customer_programs.programId}}selected{{/xIf}}{{/each}}>{{this.name}}</option>
                    {{/xIf}}
                    {{/each}}
                </select><br>
                <div class="sub-title">
                    <h4 class="sub-text-title">Thông tin khách hàng</h4>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Tên khách hàng</label>
                    <input type="text" class="form-control name" aria-describedby="email" name="name"
                        value="{{data.listsCustomers.name}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Giới tính</label>
                    <select class="custom-select " id="inlineFormCustomSelect" name="sex">
                        <option selected>Choose...</option>
                        <option value="1" {{setSelected 1 data.listsCustomers.sex}}>Nam
                        </option>
                        <option value="2" {{setSelected 2 data.listsCustomers.sex}}>Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Phone</label>
                    <input type="text" class="form-control" aria-describedby="email" name="phone"
                        value="{{data.listsCustomers.phone}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Ngày/tháng/năm/sinh</label>
                    <input type="text" id="datepicker" class="form-control" placeholder="vd:14-02-1996" name="dob"
                        value="{{data.listsCustomers.dob}}">
                </div>

                <div class="sub-title">
                    <h4 class="sub-text-title">Relation</h4>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Vợ/Chồng</label>
                    <input type="text" class="form-control" aria-describedby="email" name="nameRelation"
                        value="{{data.listsCustomers.nameRelation}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Giới tính</label>
                    <select class="custom-select " id="inlineFormCustomSelect" name="sex2">
                        <option selected>Choose...</option>
                        <option value="1" {{setSelected 1 data.listsCustomers.sex2}}>Nam</option>
                        <option value="2" {{setSelected 2 data.listsCustomers.sex2}}>Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Ngày/tháng/năm/sinh</label>
                    <input type="text" class="form-control" aria-describedby="email" name="dob2"
                        value="{{data.listsCustomers.dob2}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Con</label> <br>
                    {{#each data.listsCustomers.childrens }}
                    <input type="hidden" value="{{this.id}}" name="idChildren[]">
                    <div class="row">
                        <div class="form-group col-sm">
                            <label for="exampleInputEmail1">Họ và Tên</label>
                            <input type="text" class="form-control" aria-describedby="email" name="childrenName[]"
                                value="{{this.name}}">
                        </div>
                        <div class="form-group col-sm">
                            <label for="exampleInputEmail1">Ngày/tháng/năm/sinh</label>
                            <input type="text" class="form-control" aria-describedby="email" name="date[]"
                                value="{{this.dob}}">
                        </div>
                        <div class="form-group col-sm">
                            <label for="exampleInputEmail1">Giới tính</label>
                            <select class="custom-select " id="inlineFormCustomSelect" name="childrenSex[]">
                                <option selected>Choose...</option>
                                <option value="1" {{setSelected 1 this.sex}}>Nam</option>
                                <option value="2" {{setSelected 2 this.sex}}>Nữ</option>
                            </select>
                        </div>
                    </div>
                    {{/each}}
                    <div class="container2"></div>
                    <button type="button" class="btn btn-primary add_form_field">Thêm</button>
                </div>
                <div class="sub-title">
                    <h4 class="sub-text-title">Upload files</h4>
                </div>
                <div class="form-group">
                    <div class="card">
                        <div class="field" align="left">
                            <label>Upload your files</label>
                            <input type="file" id="files" name="files" multiple />
                            <div class="row">
                                {{#each data.listsMedias}}
                                <div class="col-2">
                                    <img src="{{this.mediaFiles}}" style="width: 200px;height:150px">
                                    <div>
                                        <button class="btn-delete-img btn btn-danger" value="{{this.id}}"
                                            style="margin-top: 10px;">Xóa</button>
                                    </div>
                                    <input type="hidden" name="mediaFiles" value="{{this.mediaFiles}}">
                                    <input type="hidden" name="idMedias" value="{{this.id}}">
                                    <input type="hidden" name="modelId" value="{{this.modelId}}">
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Link</label>
                    {{#each data.listsLinks }}
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-11">
                            <input type="text" class="form-control" name="links[]" value="{{this.linkFiles}}">
                        </div>
                        {{#xIf this.linkFiles.length "NULL"}}
                        {{else}}
                        <div class="col-1">
                            <div>
                                <button class="btn-delete-links btn btn-danger" value="{{this.id}}">Xóa</button>
                            </div>
                            <input type="hidden" name="modelId" value="{{this.modelId}}">
                        </div>
                        {{/xIf}}
                    </div>
                    {{/each}}
                    <div class="container1"></div>
                    <button type="button" class="btn btn-primary add_form_field_link"
                        style="margin-top: 10px;">Thêm</button>
                </div>
            </div>

            <div class="form-group">
                <label for="">Ghi chú</label><br>
                <textarea id="my-expressjs-tinymce-app"
                    name="notes">{{ data.listsCustomers.notesCustomer.content }}</textarea>
            </div>
            <div class="account">
                <div class="row">
                    <div class="col-sm form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" class="form-control" aria-describedby="email" name="email"
                            value="{{data.listsCustomers.email}}">
                    </div>
                </div>
                {{!-- <small id="emailHelp" class="form-text text-muted"><span style="color: red;">(*)email và password
                        sẽ
                        dùng làm thông tin đăng nhập cho khách hàng</span></small> --}}
            </div>
            <button type="submit" class="btn btn-primary btn-submit-customer">Submit</button>
            <div class="form-delete-medias"></div>
    </div>
</div>
<script>
    $(document).ready(function () {

        /* date picker*/
        $("#datepicker").datepicker({ dateFormat: 'dd-mm-yy' });
        var max_fields = 10;
        var x = 1;
        /*add field link*/
        $(".add_form_field_link").click(function (e) {
            e.preventDefault();
            let template = ` <div class="form-group">
                               <label for="exampleInputEmail1">Link</label>
                                <input type="text" class="form-control delete-children-button" name="links[]">
                                <button type="button" class="btn btn-danger delete">Delete</button>
                            </div>`;
            if (x < max_fields) {
                x++;
                $(".container1").append(template); //add input box
            } else {
                alert('You Reached the limits')
            }
        });

        $(".container1").on("click", ".delete", function (e) {
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
        })


        /*add filed chidren*/
        $(".add_form_field").click(function (e) {
            e.preventDefault();
            let template = ` 
                            <div>
                                <div class="row add-children-field">
                                        <div class="form-group col-sm">
                                            <label for="exampleInputEmail1">Họ và Tên</label>
                                            <input type="text" class="form-control" aria-describedby="email" name="childrenName[]">
                                        </div>
                                        <div class="form-group col-sm">
                                            <label for="exampleInputEmail1">Ngày/tháng/năm/sinh</label>
                                            <input type="text" class="form-control" aria-describedby="email" name="date[]">
                                            </div>
                                        <div class="form-group col-sm">
                                            <label for="exampleInputEmail1">Giới tính</label>
                                            <select class="custom-select " id="inlineFormCustomSelect" name="childrenSex[]">
                                                <option selected>Choose...</option>
                                                <option value="1" selected>Nam</option>
                                                <option value="2">Nữ</option>
                                            </select>
                                        </div>  
                                    </div>
                                <button type="button" class="btn btn-danger delete-children-button deletes">Delete</button>
                                </div>  
                             `
            if (x < max_fields) {
                $(".container2").append(template); //add input box
            } else {
                alert('You Reached the limits')
            }

        })
        $(".container2").on("click", ".deletes", function (e) {
            e.preventDefault();
            $(this).parent("div").remove();
            x--;
        })

        // delete-file
        $(".btn-delete-img").click(function () {
            let idDelete = $(this).val()
            let host = location.protocol + "//" + location.host
            let form = $('.formUpdate').attr('action', host + '/customer/delete/medias/' + idDelete);
        })
        // delete-links
        $(".btn-delete-links").click(function () {
            let idDelete = $(this).val()
            let host = location.protocol + "//" + location.host
            let form = $('.formUpdate').attr('action', host + '/customer/delete/links/' + idDelete);
        })
    })
</script>