<div class="container-fluid">
    {{#if data.message}}
    <div class="alert alert-warning" role="alert">
        {{data.message}}
    </div>
    {{/if}}
    {{#if data.messageErr}}
    <div class="alert alert-warning" role="alert">
        {{data.messageErr}}
    </div>
    {{/if}}
    {{#if messDateErr}}
    {{messDateErr}}
    {{/if}}

    {{#if locals.message}}
    <h1> aa</h1>
    {{/if}}

    {{!-- {{#each extractedErrors}}
    <div class="alert alert-warning" role="alert">
        {{this.email}}
        {{this.password}}
    </div>
    {{/each}}
    --}}
    <div>
        <form action="/customer/store" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputEmail1">Tạo khách hàng</label><br>
                <label for="exampleInputEmail1">Chương trình</label> <br>
                <select class="form-select" name="programs" aria-label="Default select example">
                    {{#each data.lists}}
                    {{#xIf 1 this.status}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/xIf}}
                    {{/each}}
                </select><br>
                <div class="form-group">
                    {{#xIf2 user.departments "phòng sales"}}
                    <label for="exampleInputEmail1">Sales phụ trách</label> <br>
                    <select id="select-state" placeholder="Pick a sales..." name="salesId">
                        {{#each data.sales}}
                        <option value="{{this.id}}">{{this.firstName}}-{{this.lastName}}</option>
                        {{/each}}
                    </select>
                    {{/xIf2}}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Status</label>
                    <select class="custom-select " id="inlineFormCustomSelect" name="status">

                        <option value="1">rất tiềm năng</option>
                        <option value="2">quan tâm</option>
                        <option value="3">không quan tâm</option>
                        <option value="4">không nghe máy</option>
                        <option value="5">không tiếp cận được</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nguồn liên hệ</label>
                    <select class="custom-select " id="inlineFormCustomSelect" name="contact">

                        <option value="1">hotline</option>
                        <option value="2">fanpage</option>
                        <option value="3">ladinpage</option>
                        <option value="4">khách cũ</option>
                        <option value="5">youtube</option>
                        <option value="6">webiste</option>
                    </select>
                </div>
                <div class="sub-title">
                    <h4 class="sub-text-title">Thông tin khách hàng</h4>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Tên khách hàng</label>
                    <input type="text" class="form-control" aria-describedby="email" name="name" value="{{oldInput}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Giới tính</label>
                    <select class="custom-select " id="inlineFormCustomSelect" name="sex">
                        <option selected value="1">Nam</option>
                        <option value="2">Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Phone</label>
                    <input type="text" class="form-control" aria-describedby="email" name="phoneMain">
                    <div class="phones"></div>
                    <button type="button" class="btn btn-primary add_phone_form_field">Thêm</button>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Ngày/tháng/năm/sinh</label>
                    <input type="text" class="form-control datepicker" placeholder="vd:14-02-1996" name="dob">
                </div>
                <div class="sub-title">
                    <h4 class="sub-text-title">Relation</h4>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Vợ/Chồng</label>
                    <input type="text" class="form-control" aria-describedby="email" name="nameRelation">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Giới tính</label>
                    <select class="custom-select " id="inlineFormCustomSelect" name="sex2">
                        <option selected value="1">Nam</option>
                        <option value="2">Nữ</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Ngày/tháng/năm/sinh</label>
                    <input type="text" class="form-control datepicker" aria-describedby="email" name="dob2">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Con</label> <br>
                    <div class="row">
                        <div class="form-group col-sm">
                            <label for="exampleInputEmail1">Họ và Tên</label>
                            <input type="text" class="form-control" aria-describedby="email" name="childrenName[]">
                        </div>
                        <div class="form-group col-sm">
                            <label for="exampleInputEmail1">Ngày/tháng/năm/sinh</label>
                            <input type="text" class="form-control datepicker" aria-describedby="email" name="date[]">
                        </div>
                        <div class="form-group col-sm">
                            <label for="exampleInputEmail1">Giới tính</label>
                            <select class="custom-select " id="inlineFormCustomSelect" name="childrenSex[]">
                                <option selected value="1">Nam</option>
                                <option value="2">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="container2"></div>
                    <button type="button" class="btn btn-primary add_form_field">Thêm</button>
                </div>
                <div class="sub-title">
                    <h4 class="sub-text-title">Upload files</h4>
                </div>
                <div class="form-group">
                    <div class="card">
                        <div class="field" align="left">
                            <label>Upload your files</label>
                            <input type="file" id="files" name="files" multiple />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Link</label>
                    <input type="text" class="form-control" name="links[]">
                    <div class="container1"></div>
                    <button type="button" class="btn btn-primary add_form_field_link"
                        style="margin-top: 10px;">Thêm</button>
                </div>
            </div>
            <div class="form-group">
                <label for="">Ghi chú</label><br>
                <textarea id="my-expressjs-tinymce-app" name="notes"></textarea>
            </div>
            <div class="account">
                <div class="row">
                    <div class="col-sm form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="text" class="form-control" aria-describedby="email" name="email" value="">
                    </div>
                </div>
                {{!-- <small id="emailHelp" class="form-text text-muted"><span style="color: red;">(*)email và password
                        sẽ
                        dùng làm thông tin đăng nhập cho khách hàng</span></small> --}}
            </div>
    </div>
    {{#each ../user.permission}}
    {{#if (eq this "create")}}
    <button type="submit" class="btn btn-primary">Create customer</button>
    {{/if}}
    {{/each}}

    </form>
</div>
<script>
    $(document).ready(function () {
        /*add field link*/
        $(".add_form_field_link").click(function (e) {
            e.preventDefault();
            let template = ` <div class="form-group">
                               <label for="exampleInputEmail1">Link</label>
                                <input type="text" class="form-control delete-children-button" name="links[]">
                                <button type="button" class="btn btn-danger delete">Delete</button>
                            </div>`;
            if (x < max_fields) {
                x++;
                $(".container1").append(template); //add input box
            } else {
                alert('You Reached the limits')
            }
        });

        $(".container1").on("click", ".delete", function (e) {
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
        })


        /*add filed chidren*/
        $(".add_form_field").click(function (e) {
            e.preventDefault();
            let template = ` 
                            <div>
                                <div class="row">
                                    <div class="form-group col-sm">
                                        <label for="exampleInputEmail1">Họ và Tên</label>
                                        <input type="text" class="form-control" aria-describedby="email" name="childrenName[]">
                                    </div>
                                    <div class="form-group col-sm">
                                        <label for="exampleInputEmail1">Ngày/tháng/năm/sinh</label>
                                        <input type="text" class="form-control datepicker" aria-describedby="email" name="date[]">
                                    </div>
                                    <div class="form-group col-sm">
                                        <label for="exampleInputEmail1">Giới tính</label>
                                        <select class="custom-select " id="inlineFormCustomSelect" name="childrenSex[]">
                                            <option selected value="1">Nam</option>
                                            <option value="2">Nữ</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-danger delete-children-button deletes">Delete</button>
                                </div>  
                             `
            if (x < max_fields) {
                $(".container2").append(template); //add input box
            } else {
                alert('You Reached the limits')
            }

        })
        $(".container2").on("click", ".deletes", function (e) {
            e.preventDefault();
            $(this).parent("div").remove();
            x--;
        })

        /*add filed phones*/
        $(".add_phone_form_field").click(function (e) {
            e.preventDefault();
            let template = ` <div class="form-group">
                               <label for="exampleInputEmail1">Phone #</label>
                                <input type="text" class="form-control delete-children-button" name="phone[]">
                                <button type="button" class="btn btn-danger delete">Delete</button>
                            </div>`;
            if (x < max_fields) {
                x++;
                $(".phones").append(template); //add input box
            } else {
                alert('You Reached the limits')
            }
        });

        $(".phones").on("click", ".delete", function (e) {
            e.preventDefault();
            $(this).parent('div').remove();
            x--;
        })

        /* date picker*/
        $(".datepicker").datepicker();
        var max_fields = 10;
        var x = 1;


    })
</script>