<div class="pagination">
  {{#if hasPreviousPage}}
    <a href="?page={{previousPage}}&keyWord={{keyWord}}&status={{status}}">Previous</a>
  {{/if}}
  
  {{#each totalPages}}
    {{#if isCurrent}}
      <a href="?page={{number}}&keyWord={{keyWord}}&status={{status}}" class="active">{{number}}</a>
    {{else}}
      <a href="?page={{number}}&keyWord={{keyWord}}&status={{status}}">{{number}}</a>
    {{/if}}
  {{/each}}
  
  {{#if hasNextPage}}
    <a href="?page={{nextPage}}&keyWord={{keyWord}}&status={{status}}">Next</a>
  {{/if}}
</div>
